---
import Icon from "./Icon.astro";
---

<div class="technologies">
    <Icon icon="laravel" size="2em" />
    <Icon icon="javascript" size="2em" />
    <Icon icon="react" size="2em" />
    <Icon icon="vue" size="2em" />  
    <Icon icon="livewire" size="2em" />
    <Icon icon="astro" size="2em" />
    <Icon icon="mysql" size="2em" />
    <Icon icon="mongodb" size="2em" />
    <Icon icon="docker" size="2em" />
    <Icon icon="git" size="2em" />
    <Icon icon="jira" size="2em" />
</div>

<style>
    .technologies {
        display: flex;
        align-items: center;
        width: 100%;
    }
</style>